@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
</div>
<div>
    <a asp-page="./numericPyramid" class="btn btn-dark" style="background-color: crimson; color: azure; size: A4;
                                      margin-left:42%; margin-right:auto; margin-bottom: 0% ;margin-top: 5% "> Click Here to Start </a>
</div>