@page
@model NumericPyramid.Pages.QuitModel
@{
    ViewData["Title"] = "Quit";
}

    <div>
        <h1 style="color: crimson; margin-left:27%; margin-right:auto; margin-bottom: 0% ;margin-top: 20%;">Thank you for Visiting Me.</h1>
    </div>


